<footer class="bg-danger text-white">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/location.png" alt="" height="100" width="100">
        <ul class="list-unstyled">
          <li>Gang Budi Rahayu 1 No.26 RT 005/ RW 009, Jakarta</li>
          <li>Pusat Kec. Sawah Besar, Kel. Mangga Dua Selatan</li>
          <li>Kode Pos 10730</li>
        </ul>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <div id="whatsapp-container">
    <!-- WhatsApp icon will be placed here -->
    <a href="https://api.whatsapp.com/send?phone=6281291807997" target="_blank" rel="noopener noreferrer">
      <img src="assets/whatsapp.png">
    </a>
  </div>

  <div class="bg-danger text-light py-2">
    <div class="container text-center">
      <p>© 2023 Catering Siang Sore. All rights reserved.</p>
    </div>
  </div>
</footer>
